<div class="col-md-1 col-lg-1"></div>

<div id="col2" class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
	<div class="case">
		<div class="casePhoto">
			<img src="images/profilFinal.jpg" height="268" width="225">
		</div>
		<div class="casePhotoPetite">
			<img src="images/profilFinal.jpg" height="224" width="188">
		</div>
		<div class="age"> 25 ans</div>
	</div>

	<div class="case">
		<ul>
			<li>NodeJS</li>
			<li>ExpressJS</li>
			<li>MongoDB</li>
			<li>AngularJS</li>
			<li>HMTL5/CSS3</li>
		</ul>
	</div>

	<div class="case">
		<h3><span class="glyphicon glyphicon-user"></span> CONTACT</h3>
		<div>
			<div class="contactItem" ng-click="changeMail()">
				<span class="glyphicon glyphicon-envelope"></span>
			</div>
			<div class="contactItem" ng-click="changeTelephone()">
				<span class="glyphicon glyphicon-phone"></span>
			</div>
			<div class="contactItem" ng-click="changeLinkedin()">
			<i class="fa fa-linkedin"></i>
			</div>
			<div class="contactFade" ng-if="mail">
				<span class="glyphicon glyphicon-triangle-top arrowMail"></span>
				<div class="popover-content boxMail">
					jeremie.nizou@gmail.com
					<button class="btn btnCopy" data-clipboard-text="jeremie.nizou@gmail.com">
						<span class="glyphicon glyphicon-copy"></span>
					</button>
				</div>
			</div>

			<div class="contactFade boxPopupTelephone" ng-if="telephone">
				<span class="glyphicon glyphicon-triangle-top arrowTelephone"></span>
				<div class="popover-content boxTelephone">
					06-98-93-52-33
				</div>
			</div>

			<div class="contactFade boxPopupLinkedin" ng-if="linkedin">
				<span class="glyphicon glyphicon-triangle-top arrowLinkedin"></span>
				<div class="boxPopupLinkedinText">
					<div class="popover-content boxLinkedin">
						<a href="https://www.linkedin.com/in/j%C3%A9r%C3%A9mie-nizou-991053110" target="_blank">jeremie.nizou</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8">
	<h3><span class="glyphicon glyphicon-briefcase"></span> EXPÉRIENCES</h3>
</div>
<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8 caseTexte">
	<h4>Développeur J2EE / Stage</h4>
	<div class="entreprise">CGI</div>
	<div class="periode">Mai 2016 à septembre 2017</div>
	<div>
		Dans une équipe de 5 développeurs, j’aide au développement de nouvelles fonctionnalités demandées par le client
	</div>
	<div><em>Mes missions :</em></div>
	<ul>
		<li>Amélioration de l’ergonomie du site</li>
		<li>Découverte et apprentissage du framework javascript AngularJS</li>
		<li>Mise à jour et création de nouvelles fonctionnalités sur le site</li>
	</ul>
</div>
<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8 caseTexte">
	<h4>Web service sur les pays</h4>
	<div class="entreprise">Projet de fin de Master</div>
	<div class="periode">2015 - 2016</div>
	<div>
		Réalisation, en équipe de cinq, d’un web service en J2EE permettant d’accéder à de nombreuses informations géopolitiques sur tous les pays du monde
	</div>
	<div><em>Mes missions :</em></div>
	<ul>
		<li>Prise en charge de la documentation</li>
		<li>Création de la base de données requise</li>
		<li>Aide au développement des clients Java et PHP</li>
	</ul>
</div>
<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8 caseTexte">
	<h4>Site de vente de vins</h4>
	<div class="entreprise">Projet de fin de Licence</div>
	<div class="periode">2012 - 2013</div>
	<ul>
		<li>Conception, seul, d'un site de vente de vins</li>
		<li>Réalisation du projet avec le langage JAVA, étudié cette année</li>
		<li>Apprentissage et utilisation autonomement du langage PHP</li>
	</ul>
</div>


<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8" id="formation">
	<h3><span class="glyphicon glyphicon-book"></span> FORMATION</h3>
</div>
<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8 caseTexte">
	<h4>Master Informatique / Programmation et Logiciels Sûrs</h4>
	<div class="entreprise">Université Paris 13, Villetaneuse</div>
	<div class="periode">2015 - 2016</div>
</div>
<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8 caseTexte">
	<h4>Licence Informatique</h4>
	<div class="entreprise">Université Paris 13, Villetaneuse</div>
	<div class="periode">2012 - 2013</div>
</div>
<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8 caseTexte">
	<h4>Baccalauréat S - spécialité Mathématiques</h4>
	<div class="entreprise">Lycée Jean Jacques Rousseau, Montmorency</div>
	<div class="periode">2009 - 2010</div>
</div>


