<div class="col-md-1 col-lg-1"></div>

<div id="col2" class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
	<div class="case">
		<div class="casePhoto">
			<img src="images/profil.jpg" height="268" width="225">
		</div>
		<div class="casePhotoPetite">
			<img src="images/profil.jpg" height="224" width="188">
		</div>
		<div class="age"> 25 ans</div>
	</div>

	<div class="case">
		<ul>
			<li>HMTL5/CSS3</li>
			<li>AngularJS</li>
			<li>Angular 2/4</li>
			<li>NodeJS</li>
			<li>ExpressJS</li>
			<li>MongoDB</li>
		</ul>
	</div>

	<div class="case">
		<h3><span class="glyphicon glyphicon-user"></span> CONTACT</h3>
		<div>
			<div class="contactItem" ng-click="changeMail()">
				<span class="glyphicon glyphicon-envelope"></span>
			</div>
			<div class="contactItem" ng-click="changeTelephone()">
				<span class="glyphicon glyphicon-phone"></span>
			</div>
			<div class="contactItem" ng-click="changeLinkedin()">
			<i class="fa fa-linkedin"></i>
			</div>
			<div class="contactFade boxPopupMail" ng-if="mail">
				<span class="glyphicon glyphicon-triangle-top arrowMail"></span>
				<div class="popover-content boxMail">
					jeremie.nizou@gmail.com
					<button class="btn btnCopy" data-clipboard-text="jeremie.nizou@gmail.com">
						<span class="glyphicon glyphicon-copy"></span>
					</button>
				</div>
			</div>

			<div class="contactFade boxPopupTelephone" ng-if="telephone">
				<span class="glyphicon glyphicon-triangle-top arrowTelephone"></span>
				<div class="popover-content boxTelephone">
					06-98-93-52-33
				</div>
			</div>

			<div class="contactFade boxPopupLinkedin" ng-if="linkedin">
				<span class="glyphicon glyphicon-triangle-top arrowLinkedin"></span>
				<div class="boxPopupLinkedinText">
					<div class="popover-content boxLinkedin">
						<a href="https://www.linkedin.com/in/j%C3%A9r%C3%A9mie-nizou-991053110" target="_blank">jeremie.nizou</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<div class="case">
		<a href="https://github.com/jeremieNizou/" target="_blank" class="lienCV">
			Mon GitHub <i class="fa fa-github" style="font-size:24px"></i>
		</a>
		<a href="images/CV_Jeremie_Nizou.pdf" target="_blank" download="CV_Jeremie_Nizou.pdf" class="lienCV">Télécharger CV</a>
	</div>
</div>

<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8">
	<h3><span class="glyphicon glyphicon-briefcase"></span> EXPÉRIENCES</h3>
</div>
<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8 caseTexte">
	<h4>Ingénieur d’études et de développement</h4>
	<div class="entreprise">ATOS</div>
	<div class="periode">Mai 2018 à Août 2018</div>
	<div class="description">
		Participation au développement du chantier automatisation sur diverses applications pour le client Prosodie
	</div>
	<div>
		Prise de contact avec le responsable fonctionnel
	</div>
	<ul>
		<li>Etude du besoin fonctionnel</li>
		<li>Réalisation de spécifications</li>
	</ul>
	<div>
		Développement des nouvelles fonctionnalités
	</div>
	<ul>
		<li>Réalisation de plusieurs nouvelles pages web pour permettre aux utilisateurs d’exploiter les nouvelles fonctionnalités</li>
		<li>Réalisation de nouveaux web services nécessaires au bon fonctionnement des nouvelles fonctionnalités</li>
	</ul>
	<div class="technos">
		<ul>
			<li>HMTL5/CSS3</li>
			<li>jQuery</li>
			<li>J2EE</li>
			<li>SQL</li>
		</ul>
	</div>

	<br>
	<div class="periode">Mars 2018 à Avril 2018</div>
	<div class="description">
		Participation sur de multiples projets + réalisation de plusieurs formations
	</div>
	<div>
		Participation à la mise en place de divers projets
	</div>
	<ul>
		<li>Participation à la conception de nouveaux projets innovants</li>
		<li>Prise en charge du déploiement d’une solution</li>
		<li>Réalisation de tests sur les diverses solutions</li>
	</ul>
	<div>
		Réalisation de plusieurs formations internes à ATOS sur des frameworks Front-End
	</div>
	<ul>
		<li>Réalisation de plusieurs formations sur le développement d’application avec AngularJS et Angular 2/4</li>
		<li>Réalisation d’une présentation sur les diverses technologies utilisées dans le développement web aux membres de l’équipe</li>
	</ul>
	<div class="technos">
		<ul>
			<li>HMTL5/CSS3</li>
			<li>AngularJS</li>
			<li>Angular 2/4</li>
		</ul>
	</div>
</div>

<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8 caseTexte">
	<h4>Site web et projets</h4>
	<div class="entreprise">Projet personnel</div>
	<div class="periode">Juillet 2017 à Décembre 2017</div>
	<div class="description">
		Réalisation de plusieurs projets, dont deux sites web, en autonomie sur des technologies qui m’intéressente
	</div>
	<div>
		Création de projets avec de nouvelles technologies
	</div>
	<ul>
		<li>Apprentissage du MEAN Stack (MongoDB, ExpressJS, AngularJS, NodeJS)</li>
		<li>Réalisation d’une ToDo Liste avec AngularJS puis avec le MEAN Stack</li>
	</ul>
	<div>
		Création de plusieurs sites web
	</div>
	<ul>
		<li>Réalisation d'un site de vente de thés en ligne sous Wordpress : <a href="https://lebonthe.com" target="_blank">lebonthe.com</a></li>
		<li>Réalisation d’un site web en regroupant ces différents projets <a href="/">jeremie-nizou.fr</a></li>
	</ul>
	<div class="technos">
		<ul>
			<li>HMTL5/CSS3</li>
			<li>AngularJS</li>
			<li>NodeJS</li>
			<li>ExpressJS</li>
			<li>MongoDB</li>
			<li>GIT</li>
		</ul>
	</div>
</div>

<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8 caseTexte">
	<h4>Développeur / Stage</h4>
	<div class="entreprise">CGI</div>
	<div class="periode">Mai 2016 à Septembre 2016</div>
	<div class="description">
		Le projet Simily permet à des démonstrateurs Smart grids d’échanger avec les compteurs Linky qui sont dans leur périmètre
	</div>
	<div>
		Apprentissage de la méthodologie SCRUM
	</div>
	<ul>
		<li>Définition des fonctionnalités à développer durant les sprints avec le client</li>
		<li>Répartition des différentes tâches à effectuer durant le sprint</li>
		<li>S’adapter en fonction des besoins de client</li>
	</ul>
	<div>
		Développement de nouvelles fonctionnalités
	</div>
	<ul>
		<li>Amélioration de l’ergonomie du site</li>
		<li>Découverte et apprentissage du framework javascript AngularJS</li>
		<li>Amélioration et création de fonctionnalités sur le site</li>
	</ul>
	<div class="technos">
		<ul>
			<li>HMTL5/CSS3</li>
			<li>AngularJS</li>
			<li>J2EE</li>
			<li>SCRUM</li>
			<li>SVN</li>
			<li>Jira</li>
		</ul>
	</div>
</div>

<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8 caseTexte">
	<h4>Web service sur les pays</h4>
	<div class="entreprise">Projet de fin de Master</div>
	<div class="periode">2015 - 2016</div>
	<div class="description">
		Réalisation, en équipe de cinq, d’un web service en J2EE permettant d’accéder à de nombreuses informations géopolitiques sur tous les pays du monde
	</div>
	<div>
		Responsable base de données
	</div>
	<ul>
		<li>Création de la base de données requise</li>
		<li>Prise en charge de la documentation</li>
	</ul>
	<div>
		Participation au développement
	</div>
	<ul>
		<li>Aide au développement des clients Java et PHP</li>
	</ul>
	<div class="technos">
		<ul>
			<li>HMTL5/CSS3</li>
			<li>SQL</li>
			<li>J2EE</li>
			<li>PHP</li>
		</ul>
	</div>
</div>

<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8 caseTexte">
	<h4>Site de vente de vins</h4>
	<div class="entreprise">Projet de fin de Licence</div>
	<div class="periode">2012 - 2013</div>
	<div class="description">
		Réalisation, seul, d’un site de vente de vins en ligne
	</div>
	<div>Création du projet</div>
	<ul>
		<li>Conception du projet</li>
		<li>Création de la base de données des vins</li>
	</ul>
	<div>Développement du projet</div>
	<ul>
		<li>Développement du site web</li>
	</ul>
	<div class="technos">
		<ul>
			<li>HMTL5/CSS3</li>
			<li>SQL</li>
			<li>PHP</li>
		</ul>
	</div>
</div>


<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8" id="formation">
	<h3><span class="glyphicon glyphicon-book"></span> FORMATION</h3>
</div>
<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8 caseTexte">
	<h4>Master Informatique / Programmation et Logiciels Sûrs</h4>
	<div class="entreprise">Université Paris 13, Villetaneuse</div>
	<div class="periode">2015 - 2016</div>
</div>
<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8 caseTexte">
	<h4>Licence Informatique</h4>
	<div class="entreprise">Université Paris 13, Villetaneuse</div>
	<div class="periode">2012 - 2013</div>
</div>
<div class="col-xs-8 col-sm-8 col-md-7 col-lg-8 caseTexte">
	<h4>Baccalauréat S - spécialité Mathématiques</h4>
	<div class="entreprise">Lycée Jean Jacques Rousseau, Montmorency</div>
	<div class="periode">2009 - 2010</div>
</div>
