<div id="titre" class="divs">
	<h1><a href="https://lebonthe.com" target="_blank">Le Bon Thé</a></h1>
</div>


<div class="divs divDescription descriptionThe">
	<a href="https://lebonthe.com" target="_blank"><img src="images/logoLeBonThe.png"></a>
	&emsp;Le Bon Thé est un site de vente en ligne de thés et théières.
  <br>Lien du site : <a href="https://lebonthe.com" target="_blank">lebonthe.com</a>
	<p></p>
	<p>&emsp;J'ai réalisé ce site e-boutique à l'aide de Wordpress et de l'extension Woocommerce. En effet, Wordpress est un outil qui est très utilisé sur Internet. Il facilite grandement la création de site web, notamment grâce à un nombre impressionnant de thèmes responsives ainsi qu'à une multitude d'extensions pour ajouter de nouvelles fonctionnalités. C'est pourquoi j'ai voulu apprendre commment fonctionnent ces fameux sites sous Wordpress. C'est très interessant, mais je préfère développer les sites web "à la main".</p>
	<img src="images/leBonThe.png">
</div>