<div id="titre" class="divs">
	<h1>Todo Liste avec BDD</h1>
</div>

<div id="todoList" class="divs">
	<div class="divs">
		Rechercher : <input ng-model="recherche.nom">
	</div>
	<form ng-submit="ajouterItem(todo)">
		<input placeholder="Que devez-vous faire ?" ng-model="todo.nom" class="todoItem" focus-me="true" required>
	</form>

	<div ng-repeat="item in list | filter: recherche" class="divFade divs">
		<input type="checkbox" ng-model="selectionne[$index]" ng-click="changeSelectionIndex($index)">

		<div ng-if="!edit[$index]" class="inlineBox choix">
			<a ng-class="{selected: selectionne[$index]}" href="todolisteBDD/presentation/{{item._id}}">{{item.nom}}</a>

			<div class="inlineBox pull-right">
				<button class="pull-left" ng-click="modifier($index)">Modifier</button>
				<span class="pull-left supprime" ng-click="supprime(item, $index)">x</span>
			</div>

		</div>

		<div ng-if="edit[$index]" class="inlineBox choix">
			<form ng-submit="confirmer(item, $index)" class="inlineBox inputForm">
				<input value="{{item.nom}}" focus-me="true" ng-model="changeTodo.nom" class="inputText">
			</form>

			<div class="inlineBox pull-right">
				<button class="pull-left" ng-click="confirmer(item, $index)">Confirmer</button>
				<button class="pull-left" ng-click="modifier($index)">Annuler</button>
				<span class="supprime pull-left" ng-click="supprime(item, $index)">x</span>
			</div>
		</div>
	</div>

	<div class="divs">
		<input type="checkbox" ng-model="toutSelectionne" ng-click="changeSelectionTotal()">
		<button ng-click="changeSelectionTotalBouton()" ng-if="!toutSelectionne">Tout Cocher</button>
		<button ng-click="changeSelectionTotalBouton()" ng-if="toutSelectionne">Tout Décocher</button>
		<button ng-click="supprimeToutSelectionne()">Supprimer la selection</button>
	</div>
</div>

<div id="titre" class="divs divDescription">
	<h2>Description</h2>
	Cette Todo Liste est réalisée à l'aide d'une base de données en ligne créée sur MongoLab. Le site utilise une API développée spécifiquement pour récupérer les informations concernant cette base de données. Vous pouvez ainsi ajouter de nouvelles tâches ou les modifier quand vous le voulez. Étant une base de données test, tous les modifications que vous ferez affecteront directement la base de données.
	<h2>Quelques liens :</h2>
	<p>
			Lien de l'API : <a href="https://jeremie-nizou-todolist-api.herokuapp.com/todos" target="_blank">jeremie-nizou-todolist-api.herokuapp.com/todos</a>
	</p>
	<p>
			GitHub de l'API : <a href="https://github.com/jeremieNizou/toDoList_API" target="_blank">github.com/jeremieNizou/toDoList_API</a>
	</p>
	<p>
			GitHub du site : <a href="https://github.com/jeremieNizou/site" target="_blank">github.com/jeremieNizou/site</a>
	</p>
</div>